.menu-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;

  a {
    text-decoration: none;
  }

  &__user-box {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background-color: aquamarine;
    cursor: pointer;
    border: 0;
    margin-right: -15px;
  }
}

.modal-user {
  position: absolute;
  top: 80px;
  right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
