.modal {
  width: 200px;
  height: auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__users {
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__user {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &__box-user {
        width: 28px;
        height: 28px;
        border-radius: 4px;
        background-color: aquamarine;
        cursor: pointer;
        border: 0;
        margin-right: 15px;
      }

      strong {
        color: #ccc;
      }
    }
  }
  &__config {
    color: #ccc;
    margin: 20px 0;
    margin-left: 20px;
    font-weight: lighter;
  }

  &__line {
    border-top: 1px solid #ccc;
    height: 150px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    span {
      color: #ccc;
    }
  }
}
